body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(78, 83, 100);
}

.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.flex-fill {
  flex: 1;
}

.non-bold {
  font-weight: normal;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.row .col-3 {
  width: 33.3333%;
}

.row .col-5 {
  width: calc(100% / 12 * 5);
}

.row .col-7 {
  width: calc(100% / 12 * 7);
}

.bg-light-blue {
  background-color: rgb(231, 235, 241, 0.5);
}

.card {
  margin: 15px;
  border-radius: 20px;
  padding: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgba(109, 207, 246, 1), rgba(240, 117, 173, 1));
}

.card-inner {
  padding: 30px 30px 0 30px;
  border-radius: 16px;
  flex: 1;
  background-color: white;
}

.center {
  text-align: center;
}

nav {
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  color: rgba(78, 83, 100, 1);
}

section {
  padding: 50px 0;
}

p {
  font-size: 16px;
  line-height: 24px;
}

#nav-inner {
  display: flex;
}

#nav-title {
  font-weight: bold;
  padding: 0;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
}

#nav-logo {
  margin: 0 10px 0 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.nav-tab {
  transition: all 0.1s;
  line-height: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.nav-tab:hover {
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 56px;
  height: 56px;
  border-bottom: 4px solid rgba(240, 117, 173, 1);
  color: rgba(240, 117, 173, 1);
}

.nav-tab.active {
  color: rgba(240, 117, 173, 1);
}

#getting-started-banner {
  background-image: linear-gradient(to bottom right, rgba(109, 207, 246, 1), rgba(240, 117, 173, 1));
  padding: 200px 0;
  text-align: center;
}

#getting-started-banner * {
  color: white;
}

.getting-started-button {
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  line-height: 36px;
  padding: 0 20px;
  font-size: 16px;
  background-color: transparent;
  text-align: center;
}

.getting-started-button + .getting-started-button {
  margin-left: 20px;
}

.getting-started-button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.getting-started-button:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.application-image-holder {
  margin: 0 auto;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  height: 280px;
  background-size: cover;
}

.markdown-holder {
  display: flex;
  padding: 40px;
}

.markdown-sidebar {
  width: 360px;
  padding-right: 30px;
}

.markdown-sidebar ul {
  list-style: none;
  padding-left: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.markdown-sidebar ul li a {
  transition: all 0.1s;
  text-decoration: none;
  color: rgb(78, 83, 100);
  display: block;
  border-left: 0px solid rgba(240, 117, 173, 1);
  line-height: 36px;
  font-size: 14px;
  padding: 0 10px;
}

.markdown-sidebar ul li a:hover, .markdown-sidebar ul li a.active {
  border-left: 4px solid rgba(240, 117, 173, 1);
  color: rgba(240, 117, 173, 1);
}

.markdown-content.main {
  width: calc(100% - 390px);
}

.markdown-content h1 code, .markdown-content h2 code, .markdown-content h3 code, .markdown-content h4 code, .markdown-content h5 code, .markdown-content h6 code {
  font-size: inherit;
}

.markdown-content code, .markdown-content li code {
  border-radius: 3px;
  background-color: rgb(231, 235, 241);
  color: rgba(240, 117, 173, 1);
  padding: 0 3px;
  font-size: 14px;
}

.markdown-content p, .markdown-content li {
  line-height: 24px;
  font-size: 16px;
}

.markdown-content a {
  color: rgba(240, 117, 173, 1);
}

.markdown-content pre {
  background-color: rgb(231, 235, 241);
  font-family: 'menlo', Courier, monospace;
  overflow-x: scroll;
  width: calc(100% - 40px);
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
}

.markdown-content.element-bg-white pre {
  background-color: white;
}

.markdown-content pre code {
  font-family: 'menlo', Courier, monospace;
  background-color: unset;
  padding: unset;
  color: unset;
  border-radius: unset;
}

.markdown-content * + h1 {
  margin-top: 50px;
}

.markdown-content blockquote {
  margin-left: 0;
  padding: 5px 30px;
  border-left: 4px solid rgba(240, 117, 173, 1);
  background-color: rgba(240, 117, 173, 0.05);
}

.markdown-content blockquote p {
  color: rgba(240, 117, 173, 1);
}

.markdown-content table {
  border: 1px solid rgb(231, 235, 241);
  border-collapse: collapse;
  margin: 0 auto;
}

.markdown-content table th {
  background-color: rgba(231, 235, 241, 0.5);
}

.markdown-content table td, .markdown-content table th {
  padding: 10px 20px;
  border: 1px solid rgb(231, 235, 241);
}
