<div class="wrapper" id="nav-inner">
  <a href="/" id="nav-title"><img id="nav-logo" src="/img/scallop-logo-transp-128.png" />Scallop</a>
  <a href="/tutorial.html" id="nav-link-tutorial" class="nav-tab">Tutorial</a>
  <a href="/download.html" id="nav-link-download" class="nav-tab">Download</a>
  <a href="/resources.html" id="nav-link-resources" class="nav-tab">Resources</a>
  <a href="/ssft22/index.html" id="nav-link-ssft22" class="nav-tab">SSFT22<i class="badge">NEW</i></a>
  <div class="flex-fill"></div>
  <a href="https://github.com/scallop-lang/" target="_blank" class="nav-tab">Github</a>
</div>
